{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
		{% for book in object_list %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{book.image.url}}"/>
			<div class="box-element product">
				<h4><strong>{{book.title}}</strong></h4>
                <h6>{{book.author}}</h6>
                <hr>

				<button data-product= "{{book.id}}" data-action="add"
						class="btn btn-outline-secondary add-btn update-cart" 
						target="_blank">
						<a href="{% url 'cart' %}" 
						style="color: black; text-decoration: none;">
						ወደ ዘንቢል</a></button>
				
				<a class="btn btn-outline-success" 
				href="{% url 'detail' book.pk %}">Sample</a>
				<h4 style="display: inline-block; 
				float:right; max-width:160px ">{{book.price}} birr</h4>
                <hr>
			</div>
		</div>
		{% endfor %}
	</div>


{% endblock content %}
